!!!
%html
  = partial 'shared/head'

  %body{:class => page_classes}
    %header
      .container
        = partial 'shared/nav'
        .title Kate Andrew
    .main
      .container
        = yield
      .clear

  %footer
    .container
      = partial 'shared/footer'
