.gallery
  - gallery_data(code).each do |img|
    %a{:href => img[:zoom], :class => 'gallery_half', :rel=>'ChillBoxGroup1'+group_id}
      %img{:src => img[:half], :style => 'margin:0 16px 16px 0'}
  .clear