.gallery
  - gallery_data(code).each_with_index do |img, i|
    - size = i == 0 ? :feature : :thumb
    %a{:href => img[:zoom], :class => 'gallery_'+size.to_s, :rel=>'ChillBoxGroup1'+group_id}
      %img{:src => img[size]}
  .clear