---
nav: 10 About
---
%h1 About
.normal-case
  =section 'BAS, MArch (Prof)'
%h3
  1
  %sup st
  Class Honours, 1
  %sup st
  Division

%p
  Kate Andrew is a project manager (construction industry) with 5 years experience in both New Zealand and the United Kingdom. Kate is an extremely focused individual who has been interested in architecture from a young age. Kate completed a Master of Architecture (Professional) with first class honours from the University of Auckland in 2010 then diversified into project management.
  Project Management is ideally suited to Kate's natural organisation abilities while complementing her interest in architecture. She has strong skills in time management, document management, budgeting, coordination and contract administration.
  Kate’s main experience is in commercial, hospitality and urban space projects and she has reached a point now that she is become more confident and is starting to take charge of larger scale projects.

=gallery :resene_award

%p
  When Kate is not busy with work she finds other projects to occupy her time. Travelling has been a big part of her life over the last two years while she has been living in London. Architecture is the main purpose of a lot of the travel and it has been amazing for her to be so close to so many idolised buildings with rich culture and history.
  Aside from the life of a tourist Kate enjoys sewing, reading and dancing ceroc (modern jive).

=gallery :about, template: 'gallery_half'




