---
nav: 40 Contact
---
%h1 Contact
.normal-case
  =section 'BAS, MArch (Prof)'
%h3
  1
  %sup st
  Class Honours, 1
  %sup st
  Division
%a.sub_nav{:title => '1st Class Honours', :id => 'honours'}
%p
  Kate Andrew is an architecture graduate and an extremely focused individual. She completed her Master of Architecture
  (Professional) at the University of Auckland in 2010 and gained first class honours.  She has a creative flair and is
  also a highly organised person, which is often an unusual combination of traits. These characteristics have proved
  very useful as she is currently working in project management at MPM Projects Ltd, a project management firm in
  construction.
%p
  Her thesis studied ways of improving tall buildings through research and design. The aim was to improve the typology
  of the skyscraper and make it more connected to its users and surroundings by changing the way the building is
  interacted with. Skyscrapers are an essential building in today’s city and due to the rapid changes in modern society
  the topic is very relevant.
%p
  When Kate is not busy with work she finds other projects to occupy her time. She enjoys keeping the creative side of
  her brain active and regularly makes endeavours into designing and creating jewellery and sewing. She created the
  design and re-branding of MPM Projects and has worked on the concept layout design of several buildings. She enjoys
  traveling and her organisational side enjoys researching new places to go. Kate also enjoys keeping active. She has
  been involved in two Ceroc dance teams over 2012 and 2013. Kate also picked up the rapidly growing sport of Stand-up
  Paddle Boarding which becomes a regular occurrence over the summer months. Kate also loves reading, not only about
  architecture but a range of genre. She is also a very sociable individual and enjoys spending time with her friends.
%p
  One thing that Kate has really come to appreciate with architecture from her time at university is that architecture
  is everywhere and when good spatial qualities are put in place we often don't consciously notice them but
  subconsciously they enhance our environment and experience.
=gallery :honours
%h3 Resene Total Colour Awards 2011
%a.sub_nav{:title => 'Total Colour Award', :id => 'award'}
%p
  Kate was selected as a finalist in the Resene Total Colour Awards, a competition which recognises and celebrates the
  use of colour in design. There were a range of categories including; commercial interior and exterior, residential
  interior and exterior, sustainable systems, education, product display and rising star. Kate entered the rising star
  category with work from her recently completed studies. The use of colour in the building from the Skyscraper and
  Connectivity project was pivotal to the expressing the concept of the building.
%p
  In August 2011 the winners were announced at the awards night in Wellington at the Foxglove. Kate was pleased to
  accept her award of the winner of the rising star category. The winner of each category becomes eligible to win the
  supreme award. Kate was named the runner up to this award receiving the Resene Total Colour Master - Nightingale
  Maestro Award.
=gallery :resene_award
%p
  Contact Kate at
  %span.e kate


