---
nav: 40 Contact
---
%h1 Contact
%a.sub_nav{:title => '1st Class Honours', :id => 'honours'}

%p
  Currently based in London, but heading back to New Zealand in August 2016.
  If you would like to contact me or request a copy of my CV, please
  %span.e{title: 'click here'} kate
  ='.'

%p
  Contact Kate at
  %span.e kate