---
nav: 10 Design
title: Architectural Design
---
%h1 Thesis
=section 'Skyscraper & Connectivity'
%h3 How can the urban skyscraper deliver a more integrated and interactive living environment?
%h4 Abstract
%p
  Skyscrapers, due to their large scale, are known to dissociate themselves from the surrounding city and contribute
  negatively to the local physical and social environment. This issue was addressed because by the year 2030 two thirds
  of the world will be urbanized and the tall building is an excellent way of dealing with density. This means the
  skyscraper will be an essential part of the future urban environment.
%p
  The purpose of my thesis was to investigate how the urban skyscraper can deliver a more integrated and interactive
  living environment. By focusing on elements which make the high-rise more connective, can it create a building which
  is more integrated and interactive with its users and surroundings? Connectivity was broken down and three main
  concepts of context, vertical urban design and community was explored through the development of a mixed use
  skyscraper in downtown Auckland. Investigations covered the surrounding environment, layout and ways to increase
  social interaction. If the design focuses on changing current conditions and enhancing humanistic and physical
  connections on a variation of scales, can it further improve the connectivity of the building?
%p
  This thesis was completed in October 2010 and a copy of it is available for viewing in the Architecture Library at
  the University of Auckland.
=gallery :thesis
%h1 Advanced Design 2
=section 'Takanini Family Centre'
%h3 Small Scale Commercial : Early Childhood and Family Centre in South Auckland.
%p
  The Takanini Family Centre is located within the grounds of Kelvin Road School. The facilities include an early
  childhood centre and a family centre with access to counseling and parenting programmes. The current facility has
  proven to be so successful that they need to expand the centre.
%p
  The new centre will be one and a half times the size of the existing one.
  %br/
  The new location is in a low socio-economic neighborhood and is to be a low budget build. The building has passive
  solar design and natural ventilation to maximize comfort and minimize reliance on energy for heating, cooling and
  lighting.
%p
  The design is based on the weaving of the two parts of the centre together, i.e. family and early childhood. This is
  done by using a coloured space that runs through the building. The different parts are identified by bright colours
  which appeal to the children and are demonstrated externally and internally.
%p
  The centre is a place where the community can gather and feel comfortable, whether they go there to learn, meet, or
  just drop their child off to the early childhood centre.
=gallery :takanini_family_centre
%h1 Advanced Design 1
=section 'E-Cycle Centre'
%h3 Commercial : Computer Recycling Transfer Station activating Newmarket Park and Educating the Public
%p
  The E-Cycle centre is primarily a transfer station for used computers and other technology. Hardeware is dropped off
  by commercial trucks or privately and gets cleared of data, sorted and broken down for its components. Old computers
  from offices also gets passed on to schools or sent them up to the Pacific Islands. The location of the E-Cycle centre
  in Newmarket Park helps to activate this isolated and underused park.
%p
  The landscape is redeveloped to help direct people down towards the centre and allows people to also make the most of
  the public park facility. The centre will have about 14 staff in total including those working in the store room,
  tech support offices, shop and café. This provides passive surveillance during the day which makes the park safer. The
  centre also sells used technology and encourages people to be aware of reusing and recycling technology.
%p
  The centre is perched on the top of a hill and is clad with Danpalon which is a polycarbonate architectural glazing
  system which lets natural light in during the day and then ‘glows’ at night time and can be seen from shore road. This
  creates visual interest and will help to lure people into the park to discover what the building is all about.
=gallery :ecycle_centre