---
nav: 20 Experience
---
%h1 Experience
=section 'Wynyard Quarter'
%h3 jellicoe street &amp; jellicoe plaza
%a.sub_nav{:title => 'Jellicoe Street', :id => 'jellicoe_street'}
%p
  Jellicoe Street is a 400m long sculptured urban setting which is both pedestrian and car friendly. The tree lined
  street is home to the North Wharf buildings designed by Fearon Hay. One of the main features of this project was the
  rain gardens beside the road. These gardens catch the storm water and filter it before it goes out to sea. Kate had
  involvement during the construction phase and close out phase of this project. The Jellicoe Precinct in Wynyard
  Quarter was constructed in time for the 2011 Rugby World Cup. The construction phase saw over 7 different main
  contractors working side by side, many requiring entering another’s site just to get to their own.
=gallery :jellicoe_street,  :template => 'gallery_full'
%h3 silo park &amp; six-pack silos
%a.sub_nav{:title => 'Silo Park', :id => 'silo_park'}
%p
  Silo Park is a park sits down the western end of Jellicoe Street and is orientated with views towards the Auckland
  Harbour Bridge. It pays homage to the history of the area with the old Golden Bay cement silo being one of the main
  features. Kate had involvement during the construction phase of this project.
%p
  The ‘Six-Pack Silos’ were also old cement silos and have been refurbished to make them into a unique function space.
  Kate has been involved in the refurbishment. In particular, she has managed the design and installation of new
  lighting and rigging systems to help light the silos and create a functional space for events to use.
=gallery :silo_park, :template => 'gallery_feature_half'
%h3 karanga plaza
%a.sub_nav{:title => 'Karanga Plaza', :id => 'karanga_plaza'}
%p
  Karanga Plaza is the gateway into the new developments in Wynyard Quarter when approaching from the newly constructed
  Wynyard Crossing which opens up this area to the Viaduct. It houses the Karanga Kiosk which is an information kiosk
  for the quarter. The plaza encourages interaction with the water. Kate had involvement during the construction phase
  and close out phase of this project.
=gallery :karanga_plaza, :template => 'gallery_feature_half'
=section 'Shed 10'
%h3 heritage building re-furbishment
%p
  Shed 10 is a heritage building on Queens Wharf in downtown Auckland. The shed underwent refurbishment to enable it to
  cater as a dry-hire space for events and to also double as a cruise terminal during the cruise season. Design challenges
  included the requirement to keep the building true to its heritage while upgrading it to make it useable. Kate had
  involvement during the design and tender phase and further involvement once the main contractor went into receivership.
=section 'Kelly Tarlton`s'
%h3 penguin encounter upgrade
%p
  Kelly  Tartlon’s Underwater world underwent a renovation to create a new penguin walk through experience. Kate had
  involvement during the construction phase. Kelly Tarlton’s remained open throughout construction. One of the major
  challenges of this project was the fact that we were dealing with live animals and their environment. The birds
  remained on display to the public for the whole duration of the project which included a move to a temporary
  enclosure while their permanent one was being fitted out.
=gallery :kelly_tarltons, :template => 'gallery_feature_half'
=section 'Tasti Products'
%h3 office and amenities building
%p
  This project started in 2008 and gained building consent before being put on hold for a number of years. This project
  was picked back up and Kate had involvement in redesign, tender and construction phases. This project has been built
  in stages. The first stages completion essential for the staff to move into while the second stage was being built.
=gallery :tasti



