---
title: Architectural Graduate
layout: home
---
.cover_images
  %a{:href => '#'}=image_tag 'cover_design.jpg'
  %a{:href => '#'}=image_tag 'cover_experience.jpg'
  %a{:href => '#'}=image_tag 'cover_inspiration.jpg'
  %a{:href => '#', :style => "margin-right:0"}=image_tag 'cover_contact.jpg'
.cover_text.std
  %span{:style => "line-height:0.3em"}"If a building is too strong or brutal, it tends to overpower man. In it he feels insecure and uncomfortable. A monument to the ego of the particular owner or architect is contradictory to the principle that
  %span{:style => "font-size:24px"}each man who uses the building should be able, through his environment, to have the sense of dignity and individual strength to carry on his hopes and aspirations" - Minoru Yamasaki
