---
nav: 30 Inspiration
---
%h1 Inspiration
=section 'From My Travels'
%a{:title => 'Europe & UK', :id => 'europe'}
%h3 Europe &amp; UK
=gallery :europe
%a{:title => 'USA', :id => 'usa'}
%h3 USA
=gallery :usa
=section 'Photography'
=gallery :photography
=section 'Drawings'
=gallery :drawings