---
nav: 30 Inspiration
---
%h1 Inspiration
=section 'Skyscraper & Connectivity'
%h3 How can the urban skyscraper deliver a more integrated and interactive living environment?
%h4 Abstract
%p Skyscrapers, due to their large scale, are known to dissociate themselves from the surrounding city and contribute negatively to the local physical and social environment. This issue was addressed because by the year 2030 two thirds of the world will be urbanized and the tall building is an excellent way of dealing with density. This means the skyscraper will be an essential part of the future urban environment.
%p The purpose of my thesis was to investigate how the urban skyscraper can deliver a more integrated and interactive living environment. By focusing on elements which make the high-rise more connective, can it create a building which is more integrated and interactive with its users and surroundings? Connectivity was broken down and three main concepts of context, vertical urban design and community was explored through the development of a mixed use skyscraper in downtown Auckland. Investigations covered the surrounding environment, layout and ways to increase social interaction. If the design focuses on changing current conditions and enhancing humanistic and physical connections on a variation of scales, can it further improve the connectivity of the building?
%p This thesis was completed in October 2010 and a copy of it is available for viewing in the Architecture Library at the University of Auckland.
=gallery :thesis
=section 'Takanini Family Centre'
%h3 How can the urban skyscraper deliver a more integrated and interactive living environment?
%h4 Abstract
%p Skyscrapers, due to their large scale, are known to dissociate themselves from the surrounding city and contribute negatively to the local physical and social environment. This issue was addressed because by the year 2030 two thirds of the world will be urbanized and the tall building is an excellent way of dealing with density. This means the skyscraper will be an essential part of the future urban environment.
%p The purpose of my thesis was to investigate how the urban skyscraper can deliver a more integrated and interactive living environment. By focusing on elements which make the high-rise more connective, can it create a building which is more integrated and interactive with its users and surroundings? Connectivity was broken down and three main concepts of context, vertical urban design and community was explored through the development of a mixed use skyscraper in downtown Auckland. Investigations covered the surrounding environment, layout and ways to increase social interaction. If the design focuses on changing current conditions and enhancing humanistic and physical connections on a variation of scales, can it further improve the connectivity of the building?
%p This thesis was completed in October 2010 and a copy of it is available for viewing in the Architecture Library at the University of Auckland.
=gallery :thesis
=section 'E-Cycle Centre'
%h3 How can the urban skyscraper deliver a more integrated and interactive living environment?
%h4 Abstract
%p Skyscrapers, due to their large scale, are known to dissociate themselves from the surrounding city and contribute negatively to the local physical and social environment. This issue was addressed because by the year 2030 two thirds of the world will be urbanized and the tall building is an excellent way of dealing with density. This means the skyscraper will be an essential part of the future urban environment.
%p The purpose of my thesis was to investigate how the urban skyscraper can deliver a more integrated and interactive living environment. By focusing on elements which make the high-rise more connective, can it create a building which is more integrated and interactive with its users and surroundings? Connectivity was broken down and three main concepts of context, vertical urban design and community was explored through the development of a mixed use skyscraper in downtown Auckland. Investigations covered the surrounding environment, layout and ways to increase social interaction. If the design focuses on changing current conditions and enhancing humanistic and physical connections on a variation of scales, can it further improve the connectivity of the building?
%p This thesis was completed in October 2010 and a copy of it is available for viewing in the Architecture Library at the University of Auckland.
=gallery :thesis