---
nav: 30 Inspiration
---
%h1 Inspiration
=section 'From My Travels'
%h3 Europe &amp; UK
%a.sub_nav{:title => 'Europe & UK', :id => 'europe'}
=gallery :europe
%h3 USA
%a.sub_nav{:title => 'USA', :id => 'usa'}
=gallery :usa
=section 'Photography'
=gallery :photography
=section 'Drawings'
=gallery :drawings